PORT=3000
RESEND_API_KEY=re_xxxxxxxxx
CONTACT_TO_EMAIL=default@dominio.com
CONTACT_TO_EMAILS_JSON={"zigodev.com.ar":"hola@zigodev.com.ar","coordinacionhockey.com.ar":"contacto@coordinacionhockey.com.ar"}
CONTACT_FROM_EMAIL=Contacto Zigodev <contacto@zigodev.com.ar>
ALLOWED_ORIGINS=*
